<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daliansea.ai.system.mapper.SeaBusinessNoticeMapper">

    <resultMap type="SeaBusinessNotice" id="SeaBusinessNoticeResult">
        <id     property="noticeId"      column="notice_id"      />
        <result property="applicationId" column="application_id" />
        <result property="applicationNo" column="application_no" />
        <result property="noticeTitle"   column="notice_title"   />
        <result property="noticeContent" column="notice_content" />
        <result property="noticeType"    column="notice_type"    />
        <result property="readFlag"      column="read_flag"      />
        <result property="receiverName"  column="receiver_name"  />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="selectNoticeList" parameterType="SeaBusinessNotice" resultMap="SeaBusinessNoticeResult">
        select notice_id, application_id, application_no, notice_title, notice_content, notice_type,
               read_flag, receiver_name, create_by, create_time
        from sea_business_notice
        <where>
            <if test="applicationId != null">
                AND application_id = #{applicationId}
            </if>
            <if test="applicationNo != null and applicationNo != ''">
                AND application_no like concat('%', #{applicationNo}, '%')
            </if>
            <if test="noticeType != null and noticeType != ''">
                AND notice_type = #{noticeType}
            </if>
            <if test="readFlag != null and readFlag != ''">
                AND read_flag = #{readFlag}
            </if>
            <if test="receiverName != null and receiverName != ''">
                AND receiver_name like concat('%', #{receiverName}, '%')
            </if>
        </where>
        order by notice_id desc
    </select>

    <insert id="insertNotice" parameterType="SeaBusinessNotice" useGeneratedKeys="true" keyProperty="noticeId">
        insert into sea_business_notice(
            <if test="applicationId != null">application_id,</if>
            <if test="applicationNo != null and applicationNo != ''">application_no,</if>
            <if test="noticeTitle != null and noticeTitle != ''">notice_title,</if>
            <if test="noticeContent != null">notice_content,</if>
            <if test="noticeType != null and noticeType != ''">notice_type,</if>
            <if test="readFlag != null and readFlag != ''">read_flag,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="applicationId != null">#{applicationId},</if>
            <if test="applicationNo != null and applicationNo != ''">#{applicationNo},</if>
            <if test="noticeTitle != null and noticeTitle != ''">#{noticeTitle},</if>
            <if test="noticeContent != null">#{noticeContent},</if>
            <if test="noticeType != null and noticeType != ''">#{noticeType},</if>
            <if test="readFlag != null and readFlag != ''">#{readFlag},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="readNoticeByIds" parameterType="Long">
        update sea_business_notice set read_flag = '1' where notice_id in
        <foreach collection="array" item="noticeId" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </update>

    <delete id="deleteNoticeByApplicationIds" parameterType="Long">
        delete from sea_business_notice where application_id in
        <foreach collection="array" item="applicationId" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
    </delete>

</mapper>
