<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daliansea.ai.system.mapper.SeaBusinessProgressMapper">

    <resultMap type="SeaBusinessProgress" id="SeaBusinessProgressResult">
        <id     property="progressId"    column="progress_id"    />
        <result property="applicationId" column="application_id" />
        <result property="applicationNo" column="application_no" />
        <result property="stepName"      column="step_name"      />
        <result property="stepStatus"    column="step_status"    />
        <result property="handlerName"   column="handler_name"   />
        <result property="handleTime"    column="handle_time"    />
        <result property="handleOpinion" column="handle_opinion" />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <select id="selectProgressList" parameterType="SeaBusinessProgress" resultMap="SeaBusinessProgressResult">
        select progress_id, application_id, application_no, step_name, step_status, handler_name,
               handle_time, handle_opinion, create_by, create_time
        from sea_business_progress
        <where>
            <if test="applicationId != null">
                AND application_id = #{applicationId}
            </if>
            <if test="applicationNo != null and applicationNo != ''">
                AND application_no = #{applicationNo}
            </if>
            <if test="stepStatus != null and stepStatus != ''">
                AND step_status = #{stepStatus}
            </if>
        </where>
        order by progress_id asc
    </select>

    <insert id="insertProgress" parameterType="SeaBusinessProgress" useGeneratedKeys="true" keyProperty="progressId">
        insert into sea_business_progress(
            <if test="applicationId != null">application_id,</if>
            <if test="applicationNo != null and applicationNo != ''">application_no,</if>
            <if test="stepName != null and stepName != ''">step_name,</if>
            <if test="stepStatus != null and stepStatus != ''">step_status,</if>
            <if test="handlerName != null">handler_name,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handleOpinion != null">handle_opinion,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="applicationId != null">#{applicationId},</if>
            <if test="applicationNo != null and applicationNo != ''">#{applicationNo},</if>
            <if test="stepName != null and stepName != ''">#{stepName},</if>
            <if test="stepStatus != null and stepStatus != ''">#{stepStatus},</if>
            <if test="handlerName != null">#{handlerName},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handleOpinion != null">#{handleOpinion},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <delete id="deleteProgressByApplicationIds" parameterType="Long">
        delete from sea_business_progress where application_id in
        <foreach collection="array" item="applicationId" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
    </delete>

</mapper>
